@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
text-size-adjust: 100%;

background-color: #000;

  font: normal 100%/1.5 sans-serif;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clock-face {
  height: 300px;
  width: 300px;
  background-image: url(images/clock-face.svg);
  margin: 0 auto;
  position: relative;
}

.hand {
  width: 14px;
  position: absolute;
  bottom: calc(50%);
  left: calc(50% - 7px);
  transition: all 6s linear;
  transform-origin: bottom center;
}

.center {
  width: 28px;
  position: absolute;
  bottom: calc(50% - 14px);
  left: calc(50% - 14px);
}

.clock-face:target .hand-hour {
  transform: rotate(360deg);
}

.clock-face:target .hand-minute {
  transform: rotate(4320deg);
}

.forwards {
  text-decoration: none;
  color: white;
  width: 6em;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 6em;
  background-color: green;
  margin:1em;
}

.backwards {
 text-decoration: none;
  color: white;
  width: 6em;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  line-height: 6em;
  background-color: red;
  margin:1em;
  
}

.backwards:hover, .forwards:hover {
  background-color: white;
  color:black;
  opacity: 1;
  transition: all .5s linear;
}

.buttons {
  text-align: center;
  padding: 2em;
}


